<ion-header>
    <ion-toolbar color="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row justify-content-center>
              <ion-col 
               size-sm="10" 
                size-md="6" 
                size-lg="4" 
                size-xl="4">
    <p><strong>Ht aumentado em mais de 10% ou:
      <ul>
        <li>Crianças > 38%</li>
        <li>Mulheres > 44%</li>
        <li>Homens > 50%</li>
      </ul>
    </strong><br>
  <strong>Conduta:</strong>
  Leito de Observação + Hidratação Oral Supervisionada ou Parenteral.
    </p>
    <h6>Reavaliar em 4 horas.</h6>
    <h5><strong>Aumento do Ht ou sinal de choque/alarme?</strong></h5>
    <ion-row justify-content-center >
      <ion-button size="medium" color="vermelho" (click)="conduta2c()">Sim</ion-button>
      <ion-button size="medium" color="verde" (click)="conduta2a()">Não</ion-button>  
    </ion-row>
      <br>
      <ion-button shape="round" color="voltar" routerLink="/conduta1a">
        <ion-icon name="arrow-round-back"></ion-icon>Voltar
      </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>
  <ion-footer >
    <ion-toolbar color="footer" >
      <ion-title>Sistema de Controle de Arboviroses©</ion-title>
      <ion-avatar slot="end">
       <!--  <img src="./assets/logo.png"> -->
        </ion-avatar>
    </ion-toolbar>
  </ion-footer>

