ion-item:hover{
    cursor: pointer;
  }

p{
  font-family: 'Barlow', sans-serif;
  text-align: justify
}
h3{
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}
ion-content{

  --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
