<ion-header>
    <ion-toolbar color="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3><strong>Atendimento de caso de choque</strong></h3>
      <p>Atenção! Foi identificados sinais de choque e a melhor 
        conduta é encaminhar o paciente para o leito de suporte intensivo com cuidados e supervisão médica.
      </p>
      <ion-button shape="round" color="voltar" routerLink="/conduta1b">
        <ion-icon name="arrow-round-back"></ion-icon>Voltar
      </ion-button><br>
      <ion-button shape="round" color="success" routerLink="/home">
        <ion-icon name="checkmark"></ion-icon>Encerrar Atendimento
      </ion-button>
  </ion-content>
  <ion-footer >
    <ion-toolbar color="footer" >
      <ion-title>Sistema de Controle de Arboviroses©</ion-title>
      <ion-avatar slot="end">
       <!--  <img src="./assets/logo.png"> -->
        </ion-avatar>
    </ion-toolbar>
  </ion-footer>

