<ion-item-sliding #sliding>
  <ion-item (click)="update.emit(home)">
     {{ home.nome }}
<!--      <ion-toggle slot="end" color="primary" 
     [checked]="home.done"
     (click)="$event.stopPropagation()"
     (ionChange)="done.emit(home)"
     ></ion-toggle> -->
    </ion-item>
    <ion-item-options side="start" (click)="update.emit(home); sliding.close()">
      <ion-item-option>
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    <ion-item-option color="danger" (click)="delete.emit(home); sliding.close()">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
</ion-item-sliding>