<ion-header>
    <ion-toolbar color="footer">
      <ion-title>Duvidas Frequentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <p class="pCenter">O que são arboviroses?</p>
      <p>Arboviroses são as doenças causadas pelos chamados arbovírus, 
        que incluem o vírus da dengue, Zika vírus, febre chikungunya e febre amarela.</p>
      <p class="pCenter">O que são sinais de choque?</p>
      <p>São os casos que possuem sintomas de  hipotensão postural, PA convergente ( PAS-PAD < 20),
         pulso rápido e fino, enchimento capilar lento ( > 2seg).</p>
         <p class="pCenter">O que são sinais de alarme?</p>
         <p>São os casos que possuem sintomas de dor abdominal intensa e contínua, vômitos persistentes, 
          hipotensão postural ou lipotímia, hepatomegalia dolorosa, hematêmese ou melena, 
          sangramento de mucosas, hemorragia importante, sonolência e/ou irritabilidade, 
          alteração do nível de consciência, redução da diurese, hiportemia, aumento repentino do HT, 
          queda abrupta das plaquetas, desconforto respiratório, ictérícia, colúria, 
          congestão conjutivial e facial, alteração da função hepática, elevação Bb e distúrbio hidroeletrolítico.</p>

  </ion-content>
  <ion-footer>
  <ion-button expand="full" color="primary" fill="clear" (click)="closeModal()">
  <ion-icon color="primary" name="close"></ion-icon>
  Fechar</ion-button>
  
  </ion-footer>
  