ion-title{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}
p{
    text-align: justify;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
}
.pCenter{
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}
ion-toolbar{
    //background: linear-gradient(to right, #CFDEF3, #E0EAFC)
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    .ion-color-footer {
        --ion-color-base: var(--ion-color-footer);
      }