ion-content{

    --ion-background-color:linear-gradient(to bottom, #512da8, #485bc6, #4d82dd, #67a7ed, #90caf9);
} 
ion-item{
    --ion-item-background: transparent !important
}

.button {
    //color: black !important;
    --background:#E3F2FD;
    --color: #4d82dd;
    font-weight: bold

}
.ion-color-favorite {
  --ion-color-base: var(--ion-color-favorite);
}
ion-input{
    --placeholder-color: white
}
img {
    width: 250px;
    height: 250px
}
ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
  
  }
  ion-title {
    font-size: 15px;
    font-weight: bold
  }
  .ion-color-login {
    --ion-color-base: var(--ion-color-login)
  }