<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
        <ion-col 
         size-sm="10" 
          size-md="6" 
          size-lg="4" 
          size-xl="4">
        <h1 text-center>
          <ion-icon name="pulse" color="favorite" class="icon-7em"></ion-icon>
          </h1>
          
          <form [formGroup]="authForm" 
                (submit)="onSubmit(authProviders.Email)">
            <ng-container *ngIf="!configs.isSignIn">
                <ion-item>
                    <ion-icon name="person" color="favorite" slot="start"></ion-icon>
                    <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
                    <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('required')"> 
                      Campo obrigatório
                    </ion-note>
                    <ion-note slot="end" color="danger" *ngIf="name.dirty && name.hasError('minlength')"> 
                      Nome com mínimo de 3 caracteres
                  </ion-note>
                  </ion-item>
            </ng-container>
            <ion-item>
              <ion-icon name="person" color="favorite" slot="start"></ion-icon>
              <ion-input type="email" placeholder="E-mail" formControlName="email"
              inputmode="email" autofocus="true"></ion-input>
              <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('required')"> 
                Campo obrigatório
              </ion-note>
              <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError('email')"> 
                  E-mail inválido
              </ion-note>
              </ion-item>
              <ion-item>
              <ion-icon name="lock" color="favorite" slot="start"></ion-icon>
              <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
              <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('required')"> 
                Campo obrigatório
              </ion-note>
              <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError('minlength')"> 
                Senha com mínimo de 6 caracteres
            </ion-note>
            </ion-item>
            <ion-button expand="block" type="submit" [disabled]="authForm.invalid" class="button">{{ configs.action }}</ion-button>
          </form>
          
          <ion-button expand="block" fill="clear" (click)="changeAuthAction()">
            {{ configs.actionChange }}
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
