.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-title, h1{
  text-align: center;
  color: black;
}
ion-button:hover,ion-item:hover {
  cursor: pointer;
}
ion-icon{
  padding-left: 15px;
  font-size: 30px;
}

h3{
  text-align: center;
}
