ion-item:hover{
    cursor: pointer;
  }
ion-content{

    --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
p{
  font-family: 'Barlow', sans-serif;
  text-align: center;
  font-weight: bold;
}
h3{
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}
li{
  font-family: 'Barlow', sans-serif;  
}

