<ion-header>
  <ion-toolbar color="toolbar">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col 
             size-sm="10" 
              size-md="6" 
              size-lg="4" 
              size-xl="4">
  <h3>Atendimento de caso suspeito</h3>
  <p>Relato de febre, usualmente entre 2 e 7 dias de duração e duas ou mais 
    das seguintes manifestações: <strong>náusea, vômito, mialgias, artralgia, dor-retro-orbital,
      petéquias, prova do laço positiva, leucopenia.</strong> Também pode ser considerado caso suspeito toda criança
      com quadro febril agudo, usualmente entre 2 a 7 dias, e sem foco de infecção aparente.
  </p>
        <h5><strong>O paciente possui sinal de alarme ou choque?</strong></h5>
        <ion-row justify-content-center >
          <ion-button color="vermelho" 
                    (click)="conduta1b()">
                    Sim
        </ion-button>
          <ion-button color="verde" 
                    (click)="conduta1a()">
                    Não
        </ion-button>
        </ion-row >

      <ion-button size="full" fill="clear" color="dark" (click)="modalChoqueAlarme()"  >
          Sinais de choque/alarme
          <ion-icon  color="dark" name="information-circle"></ion-icon>
        </ion-button>
        <ion-button  size="full" fill="clear" color="dark" (click)="modalCondicoes()">
            Condições especiais?
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button> 
<br>
    <ion-button shape="round"  color="voltar" routerLink="/home">
      <ion-icon name="arrow-round-back"></ion-icon>Voltar
    </ion-button>
    </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
