<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h4>Atendimento de caso com sinais de alarme</h4>
<ul>
  <li>Leito de internação ( no mínimo 48 hs )</li>
  <li> Hidratação IV</li>
  <li>Reavaliação clínica e laboral (2 hs)</li>
</ul>
    <h5>Melhora clínica e laboral?<br>
    DV e PA estáveis?<br>
    Diurese normal?
    Queda Ht?</h5>
    <ion-button size="large" color="success" (click)="avaliarAlta()">Sim</ion-button>
    <ion-button size="large" color="warning" (click)="naoAlta()">Não</ion-button>
      <br><br>
      <ion-button shape="round" fill="outline" color="medium" routerLink="/caso-suspeito">
        <ion-icon name="arrow-round-back"></ion-icon>Voltar
      </ion-button>
  
  </ion-content>

