<ion-header>
    <ion-toolbar color="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Sobre o Projeto</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <p>O aplicativo visa auxiliar os
          profissionais da área da saúde a realizar uma classificação mais eficiente do paciente com
          suspeitas de portar alguma doença provocada pelo arbovírus da Dengue, Zika, Chikungunya e
          Febre Amarela, pois em situações de epidemia, é importante manter a organização dos serviços de
          saúde, bem como implantar um acolhimento com classificação de risco e estadiamento da
          gravidade, de modo a oferecer tratamento prioritário e oportuno para pacientes que
          apresentem sinais de alarme e casos mais graves</p>
        <ion-button shape="round" color="voltar" routerLink="/home">
          <ion-icon name="arrow-round-back"></ion-icon>Voltar
        </ion-button>
  </ion-content>