<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h3>Alta</h3>
    <p><strong>Solicitar:</strong>
      Hemograma completo,proteína, abulmina, tipagem sanguínea, sorologia e isolamento viral.<br>
      <u>Conforme quadro</u>, gasometria, eletrólitos, transaminases, gama GT, LDH, coagulograma, 
      ureia, creatinina, Bb, EAS, RX Tórax, USG Abdominal, ECG.<br>
      <strong>Hidratação EV.</strong><br>
      <strong>Repouso.</strong>
    </p>
    <ion-button shape="round" fill="outline" color="secondary" routerLink="/">
      <ion-icon name="checkmark"></ion-icon>Encerrar Atendimento
    </ion-button>
      <br><br>
  
  </ion-content>
