<ion-header>
    <ion-toolbar color="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h5>Repetir expansão 3 vezes.</h5>
    <h5><strong>Houve uma boa resposta?</strong></h5>
    <div class="botao">
    <ion-button size="medium" color="success" (click)="conduta2c()">Sim</ion-button>
    <ion-button size="medium" color="danger" (click)="conduta2d()">Não</ion-button>
  </div>
    <br>
      <ion-button shape="round" fill="outline" color="secondary" routerLink="/conduta2c">
        <ion-icon name="arrow-round-back"></ion-icon>Voltar
      </ion-button>
  
  </ion-content>
  
