ion-title{
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
}
p, li{
    text-align: justify;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}
ion-toolbar{
    //background: linear-gradient(to right, #CFDEF3, #E0EAFC)
    background: linear-gradient(to right, #87CEFA, #B0E0E6)!important
    }
h5{
    font-size: 14px;   
}