<ion-header>
  <ion-toolbar color="toolbar">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h3>
  Lista de pacientes atendidos
  <ion-icon slot="end" name="done-all"></ion-icon>
</h3>
<ion-toolbar>
  <ion-searchbar 
              placeholder="Pesquisar pacientes..."
              animated
              type="text"
              focus="true"
              (ionChange)="buscarPacientes( $event )">
</ion-searchbar>
</ion-toolbar>
  <ion-button color="azul" shape="round"
            class="button" 
            routerLink="/pacientes-salvar" 
            routerDirection="forward">
            Novo Paciente
    <ion-icon slot="start" name="add"></ion-icon>
  </ion-button>
<ion-list>
    <app-home-item 
      *ngFor="let home of (home$ | async) | filtro:buscaNome" 
      [home]="home"
      (update)="onUpdate($event)"
      (delete)="onDelete($event)">
  </app-home-item>
</ion-list> 
<br>
    <ion-button shape="round" color="voltar" routerLink="/home">
      <ion-icon name="arrow-round-back"></ion-icon>Voltar
    </ion-button>

</ion-content>
