.button{
    --border-color: #5CD2E8;
    --ripple-color: black;
  }
  .ion-color-azul {
    --ion-color-base: var(--ion-color-azul);
  }
  .ion-color-botao {
    --ion-color-base: var(--ion-color-botao);
  }
div.item-native{
  --background: transparent
}
ion-content{

  --ion-background-color:  linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
ion-item{
  --ion-item-background: transparent !important
}