.button{
    --border-color: #5CD2E8;
    --ripple-color: black;
  }
  .ion-color-azul {
    --ion-color-base: var(--ion-color-azul);
    font-weight: bold
  }
  .ion-color-botao {
    --ion-color-base: var(--ion-color-botao);
  }
div.item-native{
  --background: transparent
}
ion-content{

  --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
ion-item{
  --ion-item-background: transparent !important
}
h3{
  text-align: center;
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}