.button{
    --border-color: #5CD2E8;
    --ripple-color: black;
  }
  .ion-color-azul {
    --ion-color-base: var(--ion-color-azul);
  }
  .ion-color-botao {
    --ion-color-base: var(--ion-color-botao);
  }