ion-item, ion-icon, ion-label{
    color
    :black;
    font-family: 'Barlow', sans-serif;
}
ion-list-header {
    font-family: 'Barlow', sans-serif;
    font-size: 15px;
}
.bg{
    --background: #6BBBFF !important;
}
.ion-color-footer {
    --ion-color-base: var(--ion-color-footer);
  }