/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

 ion-title, h1{
  font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
 }
 .my-custom-modal-css .modal-wrapper {
   height: 60%;
   top: 20%;
   position: absolute; 
   display: block; 
 }
 ion-button:hover {
  cursor: pointer;
}
ion-item:hover{
  cursor: pointer;
}
ion-title{
  text-align: center;
  color: black;
  font-size: 20px;
}

ion-icon{
  padding-right: 15px;
  font-size: 30px;
}
ion-toolbar{
// background: linear-gradient(to right, #ffffff, #c0d0e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #CFDEF3, #E0EAFC)
 

}
.header-md:after{
  height: 0px !important;
  color: #f0f0f0;
}

