ion-title{
    text-align: center;
    font-family: Verdana;
    color: black;
}
p{
    text-align: justify;
    font-family: Verdana;
}
ion-toolbar{
background: linear-gradient(to right, #CFDEF3, #E0EAFC)
!important
}