<ion-header>
    <ion-toolbar >
      <ion-title>Condições Especiais</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ul>
        <li>Lactentes (< 2 anos)</li>
        <li>Adultos > 65 anos, HAS, DAC, DM</li>
        <li>Gestantes</li>
        <li>Doenças hematológicas crônicas</li>
        <li>DRC</li>
        <li>Doenças àcido-pépticas</li>
        <li>Doenças autoimunes</li>
      </ul>
  </ion-content>
  <ion-footer>
  <ion-button expand="full" color="primary" fill="clear" (click)="closeModal()">
  <ion-icon color="primary" name="close"></ion-icon>
  Fechar</ion-button>
  
  </ion-footer>
