h3{
    color:red;
    text-align: center;
    font-family: Verdana;
}
ion-title{
    text-align: center;
    font-family: Verdana;
    color: black;
}
p{
    text-align: justify;
    font-family: Verdana;
}