ion-item:hover{
    cursor: pointer;
  }

p{
  font-family: 'Nanum Gothic';
  text-align: justify;
}
h3{
  font-weight: bold;
  font-family: 'Nanum Gothic';
}
li{
font-family: 'Nanum Gothic';  
}
ion-content{

  --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
ion-button{
  font-weight: bold
}