<ion-header>
    <ion-toolbar color="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Atendimento</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      <ion-grid>
          <ion-row justify-content-center>
              <ion-col 
               size-sm="10" 
                size-md="6" 
                size-lg="4" 
                size-xl="4">
    <h4><strong>Avaliar Alta</strong></h4>
<ul>
  <li>Estabilidade hemodinâmica (48 h)</li>
  <li>Ausência de febre (48 h)</li>
  <li>Ht normal e estável (48 h)</li>
  <li>Plaquetas em elevação e > 50.000</li>
  <li>Ausência de sintomas respiratórios</li>

</ul>
    <h5><strong>Houve melhora?</strong></h5>
    <ion-row justify-content-center >
    <ion-button size="medium" color="verde" (click)="conduta2a()">Sim</ion-button>
    <ion-button size="medium" color="vermelho" (click)="conduta2c()">Não</ion-button>
    </ion-row>
    <br>
      <ion-button shape="round" color="voltar" (click)=" voltar()">
        <ion-icon name="arrow-round-back"></ion-icon>Voltar
      </ion-button>
  </ion-col>
  </ion-row>
  </ion-grid>
  </ion-content>
  