ion-item:hover{
    cursor: pointer;
  }

p{
  font-family: 'Barlow', sans-serif;
  text-align: center;
  font-weight: bold;
}
h3{
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}
li{
  font-family: 'Barlow', sans-serif;
}
ion-content{

  --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.ion-color-verde {
  --ion-color-base: var(--ion-color-verde)
}
.ion-color-vermelho {
  --ion-color-base: var(--ion-color-vermelho)
}