<ion-header>
    <ion-toolbar >
      <ion-title>Sinais de Choque e Alarme</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div style="float: left; width: 45%">
      <h5><strong>Sinais de Choque</strong></h5>
      <ul>
        <li>Hipotensão postural</li>
        <li>PA convergente ( PAS-PAD < 20) </li>
        <li>Pulso rápido e fino</li>
        <li>Enchimento capilar lento ( > 2seg)</li>
      </ul>

    </div>
        <div style="float: right; width: 45%">
        <h5><strong>Sinais de Alarme</strong></h5>
        <ul>
            <li>Dor abdominal intensa e contínua</li>
            <li>Vômitos persistentes </li>
            <li>Hipotensão postural ou lipotímia</li>
            <li>Hepatomegalia dolorosa</li>
            <li>Hematêmese ou melena</li>
            <li>Sangramento de mucosas</li>
            <li>Hemorragia importante</li>
            <li>Sonolência e/ou irritabilidade</li>
            <li>Alteração do nível de consciência</li>
            <li>Redução da diurese</li>
            <li>Hiportemia</li>
            <li>Aumento repentino do HT</li>
            <li>Queda abrupta das plaquetas</li>
            <li> Desconforto respiratório</li>
            <li>Ictérícia</li>
            <li>Colúria</li>
            <li>Congestão conjutivial e facial</li>
            <li>Alteração da função hepática</li>
            <li>elevação Bb e distúrbio hidroeletrolítico</li>
          </ul>
      </div>
  </ion-content>
  <ion-footer>
  <ion-button expand="full" color="primary" fill="clear" (click)="closeModal()">
  <ion-icon color="primary" name="close"></ion-icon>
  Fechar</ion-button>
  
  </ion-footer>