ion-item:hover{
    cursor: pointer;
  }
p{
    text-align: justify;
    font-size: 17px;
    font-family: 'Barlow', sans-serif;
}
.pCenter{
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}
ion-title{
    font-weight: bold;
}
ion-content{

    --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
  ion-avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px
  
  }
  ion-title {
    font-size: 15px;
    font-weight: bold
  }
  .ion-color-footer {
    --ion-color-base: var(--ion-color-footer)
  }