ion-item:hover{
    cursor: pointer;
  }
p{
    text-align: justify;
    font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;
}
.pCenter{
    text-align: center;
    font-size: 18px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}
ion-title{
    font-weight: bold;
}