ion-item:hover{
    cursor: pointer;
  }
p{
    text-align: justify;
    font-size: 14px;
    font-family: 'Red Hat Display';
}
.pCenter{
    text-align: center;
    font-size: 18px;
    font-family: 'Red Hat Display';
    font-weight: bold;
}
ion-title{
    font-weight: bold;
}