ion-item:hover{
    cursor: pointer;
  }

p{
  font-family: 'Darker Grotesque', sans-serif;
  text-align: justify
}
h4{
  font-weight: bold;
  font-family: 'Darker Grotesque', sans-serif;
}
.botao{
padding-left: 98px;
}