ion-item:hover{
    cursor: pointer;
  }

p{
  font-family: 'Barlow', sans-serif;
  text-align: justify
}
h4{
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
}
ion-content{

  --ion-background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  font-weight:bold
}
.ion-color-vermelho {
  --ion-color-base: var(--ion-color-vermelho);
  font-weight:bold
}
ion-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px

}
ion-title {
  font-size: 15px;
  font-weight: bold
}
.ion-color-footer {
  --ion-color-base: var(--ion-color-footer)
}