.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-title, h1{
  text-align: center;
  color: black;
}
ion-button:hover,ion-item:hover {
  cursor: pointer;
}
ion-icon{
  padding-left: 15px;
  font-size: 30px;
}

h3{
  text-align: center;
}
.button{
  --border-color: #5CD2E8;
  --ripple-color: black;
}
.ion-color-azul {
  --ion-color-base: var(--ion-color-azul);
}
.ion-color-botao {
  --ion-color-base: var(--ion-color-botao);
}

ion-searchbar{
  padding: 0 0 0 0
}
ion-avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px

}
ion-title {
  font-size: 15px;
  font-weight: bold
}
.ion-color-footer {
  --ion-color-base: var(--ion-color-footer)
}
ion-content{
  --ion-background-color: linear-gradient(to bottom, #ffffff, #f4f6ff, #e3efff, #cdeaff, #b3e5fc);
}

